@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid var(--background);
  border-bottom-color: #0091ff;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 0.7s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }

  .custome-text-style {
    @apply text-[3rem] tracking-[-0.2rem] leading-[4.25rem] max-md:text-[3rem] max-md:tracking-[-0.15625rem] max-md:leading-[3.5rem] max-sm:text-[2rem] max-sm:tracking-[-0.125rem] max-sm:leading-[2.25rem]
  }

  .animate-scrolling {
    animation: slideDown 1s ease-out forwards;
  }

@keyframes slideDown {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}